* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#game {
  width: 600px;
  height: 200px;
  background: #eee;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
}

/* DINO */
#dino {
  width: 40px;
  height: 40px;
  background: green; /* şimdilik texture yerine */
  position: absolute;
  bottom: 0;
  left: 50px;
}

/* ZIPLAMA */
.jump {
  animation: jump 0.6s linear;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 100px; }
  100% { bottom: 0; }
}

/* ENGEL */
#cactus {
  width: 25px;
  height: 50px;
  background: red;
  position: absolute;
  bottom: 0;
  right: -30px;
  animation: cactusMove 1.5s linear infinite;
}

@keyframes cactusMove {
  0% { right: -30px; }
  100% { right: 630px; }
}

/* SKOR */
#score {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
